<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
  <add name="SqlConnection" connectionString="Data Source =.\MSSQLLocalDB;AttachDbfilename=|DataDirectory|\User.mdf;Integrated Security=True;User Instance=True; "
       providerName="System.Data.SqlClient"/>
    <!--  <add name="SqlConnection" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbfilename=|DataDirectory|\User.mdf;Integrated Security=True;User Instance=True; "
       providerName="System.Data.SqlClient"/> -->
</connectionStrings>
</configuration>
